@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Space Mono', monospace;
}

