body {
    margin: 0;
}

nav {
    height: 90px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

#page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/images/background.png');
    background-size: cover;
}

#mainmain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

#home{
    background-image: url('../../static/img/home.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    height: 60px;
    width: 60px;
    color: transparent;
}

#gameRule{
    background-image: url('../../static/img/gameRule.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    height: 60px;
    width: 145px;
    color: transparent;
}

#ptbr{
    background-image: url('../../static/img/ptbr.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    height: 60px;
    width: 135px;
    color: transparent;
}

#login{
    background-color: #FFCD45;
    border-radius: 25px;
    height: 60px;
    width: 135px;
}

img {
    width: 400px;
}

#rightNav {
    display: flex;
    justify-content: end;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
}

li {
    float: left;
    margin-right: 30px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#boxLeft {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#boxRight {
    padding-bottom: 100px;
}

#signUp {
    width: 150px;
    background-color: #FFCD45;
    margin-top: 80px;
}